*{
    font-size: 10px;
/* Color Palette Variables*/
    --color1:203, 232, 150;
    --color2:170, 192, 170;
    --color3: 252, 223, 166; 
    --color4:161, 130, 118;
    --color5:244, 184, 134;
    --color-text-dark: 0, 0, 0;
    --color-text-light: 255, 255, 255;
	--merriweather: 'Merriweather', serif;
	--open-sans: 'Open Sans', sans-serif;
	--playfair: 'Playfair Display', serif;
	--roboto: 'Roboto', sans-serif;
} 
html {
	height: 100%;
} 
body {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px 1fr 80px;
	grid-template-areas: 
	"header"
	"main"
	"footer";
	justify-content: center;
	align-items: center;
}
.header {
	max-height: 8vh;
	grid-area: header;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 5px;
	padding: 0 3vw 0px 3vw;
}
.title {
	font-family: var(--merriweather);
	font-size: 18px;
}
.display {
	font-size: calc(8px + 1.5vw + 1.5vh);
	
}
.hide {
	transform: scale(0);
}
.main {
	grid-area: main;
	display: grid;
	grid-template-columns: 20vw 48vw 32vw;
	grid-template-areas: "menu board players";
	
}
.game {
	grid-area: board;
	display: grid;
	justify-self: center;
	align-self: center;
	width: calc((10vw * 3) + (1vw * 2));
	height: 32vw;
	grid-template-rows: 10vw 10vw 10vw;
	grid-template-columns: 10vw 10vw 10vw;
	gap: 1vw 1vw;
	background-color: black;
}
.square{
	background-color: white;
}
.square.x {
	background-image: url(media/x.svg);
}
.square.o {
	background-image: url(media/o.svg);
}
button {
	width: calc(5px + 9.5vw);
	height: 3vw;
	font-size: 1.5vw;
	font-family: var(--roboto);
	background-color: lightgrey;
	border-radius: 8px;
}
.buttons {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.popUpMenu {
	z-index: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	display: flex;
	flex-flow: column nowrap;	
	gap: 1vw;
	justify-self: center;
	align-self: center;
	justify-content: space-evenly;
	align-items: center;
}
#popUpDisplay{
	color: white;
	font-family: var(--open-sans);
	font-size: 5vw;
}
.popUpMenu>div>button, .popUpMenu>button{
	border-radius: 15px;
	min-height: 5vh;
	width: 15vw;
	height: auto;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border-color: white;
	padding: 10px;
	margin: 0 2vw 0 2vw;
}
input {
	width: 25vw;
	height: 2.5vw;
	font-size: 1.3vw;
	text-align: center;
	border-radius: 5px;
}
.popupInputs {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.player-display {
	display: grid;
	grid-template: 3vw 3vw 3vw/ 1fr 1fr 1fr;
	gap: 3px 3px;
	padding: 1vw;
	margin: 1vw;
	justify-content: center;
	align-items: center;
	height: max-content;
	align-self: center;
}
.player-display>div {
	font-family: var(--roboto);
	font-size: 1.8vw;
	justify-content: center;
	text-align: center;
	padding: 3px;
}
.thead{
	background-color: lightgrey;
	font-size: 1.9vw;
}
 .highlight {
	 color: rgb(0, 0, 156);
	 background-color: azure;
 }
 

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}   